.content {
  height: 100%;
}

.title {
  border-bottom: 1px solid lightgray;
  height: 4rem;

  h5 {
    padding: 1rem;
    height: 3.5rem;
    font-weight: 700;
  }
}

.message-list {
  height: calc(100% - 9rem);
  padding: 1rem;
  overflow: scroll;
}

.message {
  margin-bottom: .5rem;

  .username {
    font-weight: 700;
  }
  .date {
    color: gray;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-left: 1rem;
  }
}

.new-message {
  padding: 1rem;
  height: 5rem;

  input {
    border: 2px solid rgba(145,145,147,.7);
    border-radius: .375rem;
    padding: 1rem;
    height: 3rem;
  }
}

.date-header {
  text-align: center;
  font-weight: 700;
  margin: 1rem;
  width: 100%;
}
