<div class="content">
  <div class="title">
    <h5>
      {{ chat.type === appConstants.CHAT_TYPES.CHANNEL ? '#' : '' }}{{ chat.name }}
    </h5>
  </div>

  <div class="message-list d-flex flex-column justify-content-end">
    <div class="message "*ngFor="let message of chat.messages; let index = index">

      <div *ngIf="!(index > 0 && isSameDay(message.date, chat.messages[index-1].date))" class="date-header">
        {{ isToday(message.date) ? 'Today' : message.date | date: 'MMM d, y'}}
      </div>

      <span class="username">{{ message.username }}</span>
      <span class="date">{{ message.date | date: 'h:mm a'}}</span>
      <div>{{ message.content }}</div>
    </div>
  </div>

  <div class="new-message">
    <input type="text" class="form-control"
      [placeholder]="'Message '
        + (chat.type === appConstants.CHAT_TYPES.CHANNEL ? '#' : '')
        + chat.name"
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()">
  </div>
</div>
