<div class="create-chat">

  <h1>Create a chat.</h1>

  <!-- Radio buttons for selecting chat type (Channel or Direct Message) -->
  <div class="d-flex my-3">
    <div class="form-check mr-3">
      <input id="channel"
        class="form-check-input"
        type="radio"
        [(ngModel)]="chatType"
        [value]="appConstants.CHAT_TYPES.CHANNEL">
      <label for="channel">Channel</label>
    </div>
    <div class="form-check">
      <input id="directMessage"
        class="form-check-input"
        type="radio"
        [(ngModel)]="chatType"
        [value]="appConstants.CHAT_TYPES.DIRECT_MESSAGE">
      <label for="directMessage">Direct Message</label>
    </div>
  </div>
  <!-- END - Radio buttons -->

  <!-- Text input for Chat Name -->
  <input type="text" class="form-control mb-3"
    [placeholder]="'Enter chat name'"
    [(ngModel)]="newChatName"
    (keyup.enter)="addChat()">
  <!-- END - Text input for Chat Name -->

  <button type="button" class="btn btn-teal btn-reset"
    (click)="addChat()">
    Create Chat
  </button>

</div>
