@import '../styles/variables';

.app {
  height: 100vh;
  overflow: hidden;
}
app-side-menu {
  height: 100%;
  transition: 0.5s;
  width: 220px;
  z-index: 2;

  @media screen and (max-width: $break-sm) {
    position: absolute;
  }
}
app-content {
  flex-grow: 1;
  height: 100%;
}

// collapsed side menu in mobile
.collapsed-side-menu {
  background-color: $violet;
  color: $gray;
  padding: .5rem 1rem;
  font-size: 1.5rem;

  .fa-bars:hover {
    color: white;
    cursor: pointer;
  }
}
