<div class="app d-flex">
  <div class="collapsed-side-menu d-md-none">
    <i class="fas fa-bars" (click)="toggleSideMenu()"></i>
  </div>
  <app-side-menu
    [style.left]="isSideMenuOpen? '0' : '-220px'"
    [chats]="chats"
    [selectedChat]="selectedChat"
    (closeSideMenu)="toggleSideMenu()">
  </app-side-menu>
  <app-content
    *ngIf="selectedChat"
    [chat]="selectedChat"
    [user]="loggedInUser">
  </app-content>
  <app-create-chat
    *ngIf="!selectedChat"
    class="h-100 w-100 d-flex justify-content-center align-items-center">
  </app-create-chat>
</div>
