@import '../../styles/variables';

.side-menu {
  background-color: $violet;
  width: 100%;
  height: 100%;
}

section {
  color: $gray;
  padding: 1rem 0;

  .header {
    padding: 0 1rem;

    i.link {
      line-height: 27px;
    }
    .link:hover {
      color: white;
      transition: color .1s ease-out;
    }
  }
}

.item {
  padding: .1rem 1rem;
  word-break: break-all;

  .fa-circle, .fa-hashtag {
    position: relative;
    top: -2px;
    width: 15px;
  }
  .fa-circle {
    font-size: 8px;
  }
  .fa-hashtag {
    font-size: 12px;
  }

  &.active {
    color: white;
    background-color: $teal;
    &:hover {
      background-color: $teal;
    }
  }
  &:hover {
    background-color: $dark-violet;
  }
}

.add-chat {
  padding: 1rem;

  input {
    font-size: small;
    height: 2rem;
    border-radius: 0;
    border: 0;
    background-color: $dark-violet;
    color: white;

    &::placeholder {
      color: $gray;
    }
  }
}

.btn-reset {
  margin: 1rem;
  font-size: small;
  text-transform: uppercase;
  color: white;
  border-radius: 0;
  width: 185px;
}

// button for closing side menu
.fa-times {
  font-size: 1.5rem;
  color: $gray;
  margin: 1rem;

  &:hover {
    color: white;
  }
}
