<div class="side-menu">

  <div class="w-100 text-right d-md-none">
    <i class="fas fa-times link" (click)="close()"></i>
  </div>

  <!-- Channels -->
  <section>
    <div class="header d-flex justify-content-between align-items-middle">
      <span class="link">Channels</span>
      <i class="fas fa-plus-circle link" (click)="toggleAddChannel()"></i>
    </div>

    <!-- Add new channel -->
    <div class="add-chat" *ngIf="showAddChannel">
      <input type="text" class="form-control"
        [placeholder]="'Enter channel name'"
        [(ngModel)]="newChannelName"
        (keyup.enter)="addChannel()">
    </div>
    <!-- END - Add new channel -->

    <!-- List of channels -->
    <ng-container *ngFor="let chat of chats">
      <div class="link item"
        *ngIf="chat.type === appConstants.CHAT_TYPES.CHANNEL"
        (click)="selectChat(chat)"
        [class.active]="isChatSelected(chat)">
        <i class="fas fa-hashtag"></i>
        {{ chat.name }}
      </div>
    </ng-container>
    <!-- END - List of channels -->

  </section>
  <!-- END - Channels -->

  <!-- Direct Messages -->
  <section>
    <div class="header d-flex justify-content-between align-items-middle">
      <span class="link">Direct Messages</span>
      <i class="fas fa-plus-circle link" (click)="toggleAddDirectMessage()"></i>
    </div>

    <!-- Add new direct message -->
    <div class="add-chat" *ngIf="showAddDirectMessage">
      <input type="text" class="form-control"
        [placeholder]="'Enter username'"
        [(ngModel)]="newDirectMessageName"
        (keyup.enter)="addDirectMessage()">
    </div>
    <!-- END - Add new direct message -->

    <!-- List of direct messages -->
    <ng-container *ngFor="let chat of chats">
      <div class="link item"
        *ngIf="chat.type === appConstants.CHAT_TYPES.DIRECT_MESSAGE"
        (click)="selectChat(chat)"
        [class.active]="isChatSelected(chat)">
        <i class="far fa-circle"></i>
        {{ chat.name }}
      </div>
    </ng-container>
    <!-- END - List of direct message -->

  </section>
  <!-- END - Direct Messages -->

  <button type="button" class="btn btn-teal btn-reset"
    (click)="resetLocalStorage()">
    Reset local storage
  </button>

</div>
